:root {
  --ev-heading-color: var(--ev-color-1);
  --ev-paragraph-color: var(--ev-color-1);
  --ev-caption-color: var(--ev-color-1);
  --ev-list-color: var(--ev-color-1);
  --ev-link-color: var(--ev-color-1);
  --ev-blockquote-color: var(--ev-color-1);
  --ev-page-background-color: var(--ev-color-2);
  --ev-success-color: var(--ev-color-4);
  --ev-error-color: var(--ev-color-5);
  --ev-inactive-color: var(--ev-color-6);
  --ev-table-header-background-color: var(--ev-color-7);
  --ev-table-text-color: var(--ev-color-1);
  --ev-table-border-color: var(--ev-color-6);
  --ev-typography-heading-font-family: Inter;
  --ev-typography-heading-font-weight: 600;
  --ev-typography-heading-line-height: 138%;
  --ev-typography-heading-space-after: 8px;
  --ev-typography-heading-space-after-tablet: 8px;
  --ev-typography-heading-space-after-mobile: 16px;
  --ev-typography-paragraph-font-family: Inter;
  --ev-typography-paragraph-font-weight: 400;
  --ev-typography-paragraph-line-height: 160%;
  --ev-typography-paragraph-space-after: 8px;
  --ev-typography-paragraph-space-after-tablet: 8px;
  --ev-typography-paragraph-space-after-mobile: 16px;
  --ev-typography-heading1-fontSize: 60px;
  --ev-typography-heading1-fontSize-tablet: 60px;
  --ev-typography-heading1-fontSize-mobile: 40px;
  --ev-typography-heading2-fontSize: 48px;
  --ev-typography-heading2-fontSize-tablet: 48px;
  --ev-typography-heading2-fontSize-mobile: 34px;
  --ev-typography-heading3-fontSize: 36px;
  --ev-typography-heading3-fontSize-tablet: 36px;
  --ev-typography-heading3-fontSize-mobile: 28px;
  --ev-typography-heading4-fontSize: 30px;
  --ev-typography-heading4-fontSize-tablet: 30px;
  --ev-typography-heading4-fontSize-mobile: 24px;
  --ev-typography-heading5-fontSize: 24px;
  --ev-typography-heading5-fontSize-tablet: 24px;
  --ev-typography-heading5-fontSize-mobile: 20px;
  --ev-typography-heading6-fontSize: 16px;
  --ev-typography-heading6-fontSize-tablet: 16px;
  --ev-typography-heading6-fontSize-mobile: 16px;
  --ev-typography-paragraph-fontSize: 18px;
  --ev-typography-paragraph-fontSize-tablet: 18px;
  --ev-typography-paragraph-fontSize-mobile: 16px;
  --ev-typography-caption-fontSize: 14px;
  --ev-typography-caption-fontSize-tablet: 14px;
  --ev-typography-caption-fontSize-mobile: 14px;
  --ev-typography-list-fontSize: 18px;
  --ev-typography-list-fontSize-tablet: 18px;
  --ev-typography-list-fontSize-mobile: 16px;
  --ev-typography-blockquote-fontSize: 18px;
  --ev-typography-blockquote-fontSize-tablet: 18px;
  --ev-typography-blockquote-fontSize-mobile: 16px;
  --ev-typography-heading1-letter-spacing: -0.025em;
  --ev-typography-heading2-letter-spacing: 0em;
  --ev-typography-heading3-letter-spacing: 0em;
  --ev-typography-heading4-letter-spacing: 0em;
  --ev-typography-heading5-letter-spacing: 0em;
  --ev-typography-heading6-letter-spacing: 0em;
  --ev-typography-paragraph-letter-spacing: 0em;
  --ev-typography-caption-letter-spacing: 0em;
  --ev-typography-list-letter-spacing: 0em;
  --ev-typography-blockquote-letter-spacing: 0em;
  --ev-typography-heading1-text-transform: none;
  --ev-typography-heading2-text-transform: none;
  --ev-typography-heading3-text-transform: none;
  --ev-typography-heading4-text-transform: none;
  --ev-typography-heading5-text-transform: none;
  --ev-typography-heading6-text-transform: none;
  --ev-typography-paragraph-text-transform: none;
  --ev-typography-caption-text-transform: none;
  --ev-typography-list-text-transform: none;
  --ev-typography-blockquote-text-transform: none;
  --ev-content-max-width: 1200px;
  --ev-section-padding-t: 96px;
  --ev-section-padding-b: 96px;
  --ev-section-padding-l: 0px;
  --ev-section-padding-r: 0px;
  --ev-section-padding-t-tablet: 96px;
  --ev-section-padding-b-tablet: 96px;
  --ev-section-padding-l-tablet: 0px;
  --ev-section-padding-r-tablet: 0px;
  --ev-section-padding-t-mobile: 48px;
  --ev-section-padding-b-mobile: 48px;
  --ev-section-padding-l-mobile: 0px;
  --ev-section-padding-r-mobile: 0px;
  --ev-row-padding-t: 32px;
  --ev-row-padding-b: 32px;
  --ev-row-padding-l: 24px;
  --ev-row-padding-r: 24px;
  --ev-row-padding-t-tablet: 32px;
  --ev-row-padding-b-tablet: 32px;
  --ev-row-padding-l-tablet: 24px;
  --ev-row-padding-r-tablet: 24px;
  --ev-row-padding-t-mobile: 0px;
  --ev-row-padding-b-mobile: 0px;
  --ev-row-padding-l-mobile: 24px;
  --ev-row-padding-r-mobile: 24px;
  --ev-column-padding-t: 32px;
  --ev-column-padding-b: 32px;
  --ev-column-padding-l: 0px;
  --ev-column-padding-r: 0px;
  --ev-column-padding-t-tablet: 32px;
  --ev-column-padding-b-tablet: 32px;
  --ev-column-padding-l-tablet: 0px;
  --ev-column-padding-r-tablet: 0px;
  --ev-column-padding-t-mobile: 24px;
  --ev-column-padding-b-mobile: 24px;
  --ev-column-padding-l-mobile: 0px;
  --ev-column-padding-r-mobile: 0px;
  --ev-element-padding-t: 0px;
  --ev-element-padding-b: 0px;
  --ev-element-padding-l: 12px;
  --ev-element-padding-r: 12px;
  --ev-element-padding-t-tablet: 0px;
  --ev-element-padding-b-tablet: 0px;
  --ev-element-padding-l-tablet: 12px;
  --ev-element-padding-r-tablet: 12px;
  --ev-element-padding-t-mobile: 0px;
  --ev-element-padding-b-mobile: 0px;
  --ev-element-padding-l-mobile: 8px;
  --ev-element-padding-r-mobile: 8px;
  --ev-section-gap: 0px;
  --ev-row-gap: 0px;
  --ev-column-gap: 12px;
  --ev-element-gap: 32px;
  --ev-section-gap-tablet: 0px;
  --ev-row-gap-tablet: 0px;
  --ev-column-gap-tablet: 12px;
  --ev-element-gap-tablet: 32px;
  --ev-section-gap-mobile: 0px;
  --ev-row-gap-mobile: 0px;
  --ev-column-gap-mobile: 12px;
  --ev-element-gap-mobile: 12px;
  --ev-card-solid-background-color: var(--ev-color-2);
  --ev-card-solid-border-width: 1px;
  --ev-card-solid-border-style: none;
  --ev-card-solid-border-color: var(--ev-color-7);
  --ev-card-solid-shadow: none;
  --ev-card-solid-border-radius: 6px 6px 6px 6px;
  --ev-card-solid-padding-t: 32px;
  --ev-card-solid-padding-b: 32px;
  --ev-card-solid-padding-l: 32px;
  --ev-card-solid-padding-r: 32px;
  --ev-card-solid-padding-t-tablet: 32px;
  --ev-card-solid-padding-b-tablet: 32px;
  --ev-card-solid-padding-l-tablet: 32px;
  --ev-card-solid-padding-r-tablet: 32px;
  --ev-card-solid-padding-t-mobile: 12px;
  --ev-card-solid-padding-b-mobile: 12px;
  --ev-card-solid-padding-l-mobile: 12px;
  --ev-card-solid-padding-r-mobile: 12px;
  --ev-card-solid-gap-t: 32px;
  --ev-card-solid-gap-b: 32px;
  --ev-card-solid-gap-l: 32px;
  --ev-card-solid-gap-r: 32px;
  --ev-card-solid-gap-t-tablet: 32px;
  --ev-card-solid-gap-b-tablet: 32px;
  --ev-card-solid-gap-l-tablet: 32px;
  --ev-card-solid-gap-r-tablet: 32px;
  --ev-card-solid-gap-t-mobile: 12px;
  --ev-card-solid-gap-b-mobile: 12px;
  --ev-card-solid-gap-l-mobile: 12px;
  --ev-card-solid-gap-r-mobile: 12px;
  --ev-card-shadow-background-color: var(--ev-color-2);
  --ev-card-shadow-border-width: 1px;
  --ev-card-shadow-border-style: none;
  --ev-card-shadow-border-color: var(--ev-color-7);
  --ev-card-shadow-shadow: 0px 4px 15px 2px #00000026;
  --ev-card-shadow-border-radius: 6px 6px 6px 6px;
  --ev-card-shadow-padding-t: 64px;
  --ev-card-shadow-padding-b: 64px;
  --ev-card-shadow-padding-l: 64px;
  --ev-card-shadow-padding-r: 64px;
  --ev-card-shadow-padding-t-tablet: 64px;
  --ev-card-shadow-padding-b-tablet: 64px;
  --ev-card-shadow-padding-l-tablet: 64px;
  --ev-card-shadow-padding-r-tablet: 64px;
  --ev-card-shadow-padding-t-mobile: 64px;
  --ev-card-shadow-padding-b-mobile: 64px;
  --ev-card-shadow-padding-l-mobile: 64px;
  --ev-card-shadow-padding-r-mobile: 64px;
  --ev-card-shadow-gap-t: 32px;
  --ev-card-shadow-gap-b: 32px;
  --ev-card-shadow-gap-l: 32px;
  --ev-card-shadow-gap-r: 32px;
  --ev-card-shadow-gap-t-tablet: 32px;
  --ev-card-shadow-gap-b-tablet: 32px;
  --ev-card-shadow-gap-l-tablet: 32px;
  --ev-card-shadow-gap-r-tablet: 32px;
  --ev-card-shadow-gap-t-mobile: 12px;
  --ev-card-shadow-gap-b-mobile: 12px;
  --ev-card-shadow-gap-l-mobile: 12px;
  --ev-card-shadow-gap-r-mobile: 12px;
  --ev-card-transparent-background-color: var(--ev-color-9);
  --ev-card-transparent-border-width: 1px 1px 1px 1px;
  --ev-card-transparent-border-style: solid;
  --ev-card-transparent-border-color: var(--ev-color-7);
  --ev-card-transparent-shadow: 0px 4px 15px 2px #00000026;
  --ev-card-transparent-border-radius: 6px 6px 6px 6px;
  --ev-card-transparent-padding-t: 32px;
  --ev-card-transparent-padding-b: 32px;
  --ev-card-transparent-padding-l: 32px;
  --ev-card-transparent-padding-r: 32px;
  --ev-card-transparent-padding-t-tablet: 32px;
  --ev-card-transparent-padding-b-tablet: 32px;
  --ev-card-transparent-padding-l-tablet: 32px;
  --ev-card-transparent-padding-r-tablet: 32px;
  --ev-card-transparent-padding-t-mobile: 12px;
  --ev-card-transparent-padding-b-mobile: 12px;
  --ev-card-transparent-padding-l-mobile: 12px;
  --ev-card-transparent-padding-r-mobile: 12px;
  --ev-card-transparent-gap-t: 32px;
  --ev-card-transparent-gap-b: 32px;
  --ev-card-transparent-gap-l: 32px;
  --ev-card-transparent-gap-r: 32px;
  --ev-card-transparent-gap-t-tablet: 32px;
  --ev-card-transparent-gap-b-tablet: 32px;
  --ev-card-transparent-gap-l-tablet: 32px;
  --ev-card-transparent-gap-r-tablet: 32px;
  --ev-card-transparent-gap-t-mobile: 12px;
  --ev-card-transparent-gap-b-mobile: 12px;
  --ev-card-transparent-gap-l-mobile: 12px;
  --ev-card-transparent-gap-r-mobile: 12px;
  --ev-course-outline-background-color: var(--ev-color-2);
  --ev-course-outline-text-color: var(--ev-color-1);
  --ev-course-outline-border-color: var(--ev-color-7);
  --ev-course-outline-item-active-color: var(--ev-color-3);
  --ev-course-outline-item-icon-color: var(--ev-color-6);
  --ev-course-outline-progress-foreground-color: var(--ev-color-3);
  --ev-course-outline-progress-background-color: var(--ev-color-8);
  --ev-scroll-progress-background-color: var(--ev-color-8);
  --ev-scroll-progress-progress-color: var(--ev-color-3);
  --ev-page-footer-background-color: var(--ev-color-2);
  --ev-page-footer-text-color: var(--ev-color-1);
  --ev-page-footer-next-label: ev-label-heading6;
  --ev-page-footer-next-page-title-label: ev-label-heading3;
  --ev-page-footer-next-button-background-color: var(--ev-color-3);
  --ev-page-footer-next-button-color: var(--ev-color-2);
  --ev-page-footer-next-button-hover: var(--ev-hover-darken);
  --ev-page-footer-next-button-width: var(--ev-width-auto);
  --ev-page-footer-border-width: 1px 1px 1px 1px;
  --ev-page-footer-border-style: none;
  --ev-page-footer-border-color: var(--ev-color-7);
  --ev-page-footer-padding-t: 32px;
  --ev-page-footer-padding-b: 32px;
  --ev-page-footer-padding-l: 32px;
  --ev-page-footer-padding-r: 32px;
  --ev-page-footer-padding-t-tablet: 32px;
  --ev-page-footer-padding-b-tablet: 32px;
  --ev-page-footer-padding-l-tablet: 32px;
  --ev-page-footer-padding-r-tablet: 32px;
  --ev-page-footer-padding-t-mobile: 32px;
  --ev-page-footer-padding-b-mobile: 32px;
  --ev-page-footer-padding-l-mobile: 32px;
  --ev-page-footer-padding-r-mobile: 32px;
  --ev-page-footer-card-background-color: var(--ev-color-8);
  --ev-page-footer-card-border-width: 1px;
  --ev-page-footer-card-border-style: none;
  --ev-page-footer-card-border-color: var(--ev-color-7);
  --ev-page-footer-card-border-radius: 6px 6px 6px 6px;
  --ev-page-footer-card-shadow: none;
  --ev-page-footer-card-padding-t: 64px;
  --ev-page-footer-card-padding-b: 64px;
  --ev-page-footer-card-padding-l: 64px;
  --ev-page-footer-card-padding-r: 64px;
  --ev-page-footer-card-padding-t-tablet: 64px;
  --ev-page-footer-card-padding-b-tablet: 64px;
  --ev-page-footer-card-padding-l-tablet: 64px;
  --ev-page-footer-card-padding-r-tablet: 64px;
  --ev-page-footer-card-padding-t-mobile: 64px;
  --ev-page-footer-card-padding-b-mobile: 64px;
  --ev-page-footer-card-padding-l-mobile: 64px;
  --ev-page-footer-card-padding-r-mobile: 64px;
  --ev-page-footer-card-gap: 32px;
  --ev-page-footer-card-gap-tablet: 32px;
  --ev-page-footer-card-gap-mobile: 32px;
  --ev-dialog-background-color: var(--ev-color-2);
  --ev-dialog-text-color: var(--ev-color-1);
  --ev-dialog-overlay-color: #03071299;
  --ev-dialog-border-width: 1px;
  --ev-dialog-border-style: none;
  --ev-dialog-border-color: var(--ev-color-7);
  --ev-dialog-shadow: 0px 4px 15px 2px #00000026;
  --ev-dialog-border-radius: 6px 6px 6px 6px;
  --ev-dialog-padding-t: 48px;
  --ev-dialog-padding-b: 48px;
  --ev-dialog-padding-l: 48px;
  --ev-dialog-padding-r: 48px;
  --ev-dialog-padding-t-tablet: 48px;
  --ev-dialog-padding-b-tablet: 48px;
  --ev-dialog-padding-l-tablet: 48px;
  --ev-dialog-padding-r-tablet: 48px;
  --ev-dialog-padding-t-mobile: 24px;
  --ev-dialog-padding-b-mobile: 24px;
  --ev-dialog-padding-l-mobile: 24px;
  --ev-dialog-padding-r-mobile: 24px;
  --ev-dialog-gap: 24px;
  --ev-dialog-gap-tablet: 24px;
  --ev-dialog-gap-mobile: 12px;
  --ev-loading-spinner-color: var(--ev-color-1);
  --ev-focus-outline-color: #3168F6;
  --ev-focus-outline-width: 2px;
  --ev-focus-outline-secondary-color: var(--ev-color-2);
  --ev-header-background-color: var(--ev-color-2);
  --ev-header-border-style: solid;
  --ev-header-border-color: var(--ev-color-7);
  --ev-header-border-width: 0px 0px 1px 0px;
  --ev-header-logo-alignment: center;
  --ev-header-border-radius: 0px 0px 0px 0px;
  --ev-header-shadow: none;
  --ev-footer-background-color: var(--ev-color-2);
  --ev-footer-text-color: var(--ev-color-1);
  --ev-footer-border-style: solid;
  --ev-footer-border-color: var(--ev-color-7);
  --ev-footer-border-width: 1px 0px 0px 0px;
  --ev-footer-flex-direction: row;
  --ev-footer-border-radius: 0px 0px 0px 0px;
  --ev-footer-shadow: none;
  --ev-footer-padding-t: 12px;
  --ev-footer-padding-b: 12px;
  --ev-footer-padding-l: 24px;
  --ev-footer-padding-r: 24px;
  --ev-footer-gap: 12px;
  --ev-accordion-item-button-background-color: var(--ev-color-3);
  --ev-accordion-item-button-color: var(--ev-color-2);
  --ev-accordion-item-button-label: ev-label-heading6;
  --ev-accordion-item-button-border-style: none;
  --ev-accordion-item-button-border-color: var(--ev-color-7);
  --ev-accordion-item-button-border-width: 1px;
  --ev-accordion-item-button-shadow: none;
  --ev-accordion-item-button-hover: var(--ev-hover-darken);
  --ev-accordion-item-button-border-radius: 6px 6px 6px 6px;
  --ev-accordion-item-button-spacing-x: 24px;
  --ev-accordion-item-button-spacing-y: 18px;
  --ev-accordion-item-button-spacing-x-tablet: 24px;
  --ev-accordion-item-button-spacing-y-tablet: 18px;
  --ev-accordion-item-button-spacing-x-mobile: 12px;
  --ev-accordion-item-button-spacing-y-mobile: 18px;
  --ev-accordion-item-button-gap: 8px;
  --ev-accordion-item-gap: 4px;
  --ev-accordion-item-gap-tablet: 4px;
  --ev-accordion-item-gap-mobile: 4px;
  --ev-accordion-item-content-border-style: solid;
  --ev-accordion-item-content-border-color: var(--ev-color-7);
  --ev-accordion-item-content-border-width: 1px 1px 1px 1px;
  --ev-accordion-item-content-border-radius: 0px 0px 6px 6px;
  --ev-accordion-item-content-spacing-x: 24px;
  --ev-accordion-item-content-spacing-y: 24px;
  --ev-accordion-item-content-spacing-x-tablet: 24px;
  --ev-accordion-item-content-spacing-y-tablet: 24px;
  --ev-accordion-item-content-spacing-x-mobile: 12px;
  --ev-accordion-item-content-spacing-y-mobile: 24px;
  --ev-assessment-details-heading-text-label: ev-label-heading5;
  --ev-assessment-details-heading-text-color: var(--ev-color-1);
  --ev-assessment-details-detail-icon-color: var(--ev-color-3);
  --ev-assessment-details-detail-text-label: ev-label-paragraph;
  --ev-assessment-details-detail-text-color: var(--ev-color-1);
  --ev-assessment-score-progress-foreground-color: var(--ev-color-2);
  --ev-assessment-score-progress-background-color: var(--ev-color-9);
  --ev-assessment-score-progress-label-color: var(--ev-color-2);
  --ev-assessment-score-message-color: var(--ev-color-2);
  --ev-assessment-overview-heading-text-label: ev-label-heading5;
  --ev-assessment-overview-heading-text-color: var(--ev-color-1);
  --ev-assessment-overview-stat-text-label: ev-label-heading5;
  --ev-assessment-overview-stat-text-color: var(--ev-color-3);
  --ev-assessment-overview-subtitle-text-label: ev-label-paragraph;
  --ev-assessment-overview-subtitle-text-color: var(--ev-color-1);
  --ev-button-background-color: var(--ev-color-3);
  --ev-button-text-color: var(--ev-color-2);
  --ev-button-label: ev-label-heading6;
  --ev-button-border-style: none;
  --ev-button-border-color: var(--ev-color-3);
  --ev-button-border-width: 1px;
  --ev-button-shadow: 0px 4px 15px 2px #00000026;
  --ev-button-hover: var(--ev-hover-darken);
  --ev-button-border-radius: 24px 24px 24px 24px;
  --ev-button-spacing-x: 32px;
  --ev-button-spacing-y: 16px;
  --ev-button-spacing-x-tablet: 32px;
  --ev-button-spacing-y-tablet: 16px;
  --ev-button-spacing-x-mobile: 32px;
  --ev-button-spacing-y-mobile: 16px;
  --ev-card-drop-item-background-color: var(--ev-color-2);
  --ev-card-drop-item-text-color: var(--ev-color-1);
  --ev-card-drop-item-label: ev-label-paragraph;
  --ev-card-drop-item-drag-icon-display: block;
  --ev-card-drop-item-drag-icon-color: var(--ev-color-1);
  --ev-card-drop-item-border-style: solid;
  --ev-card-drop-item-border-color: var(--ev-color-7);
  --ev-card-drop-item-border-width: 1px 1px 1px 1px;
  --ev-card-drop-item-border-radius: 6px 6px 6px 6px;
  --ev-card-drop-item-shadow: 0px 2px 8px 0px #00000026;
  --ev-card-drop-item-spacing-x: 12px;
  --ev-card-drop-item-spacing-y: 12px;
  --ev-card-drop-item-spacing-x-tablet: 12px;
  --ev-card-drop-item-spacing-y-tablet: 12px;
  --ev-card-drop-item-spacing-x-mobile: 12px;
  --ev-card-drop-item-spacing-y-mobile: 12px;
  --ev-card-drop-item-border-color-dragging: var(--ev-color-3);
  --ev-card-drop-item-border-color-correct: var(--ev-color-4);
  --ev-card-drop-item-border-color-incorrect: var(--ev-color-5);
  --ev-card-drop-zone-background-color: var(--ev-color-3);
  --ev-card-drop-zone-text-color: var(--ev-color-2);
  --ev-card-drop-zone-label: ev-label-paragraph;
  --ev-card-drop-zone-border-style: none;
  --ev-card-drop-zone-border-width: 0px 0px 0px 0px;
  --ev-card-drop-zone-border-radius: 6px 6px 6px 6px;
  --ev-card-drop-zone-shadow: none;
  --ev-card-drop-zone-hover: var(--ev-hover-darken);
  --ev-card-drop-attempts-text-color: var(--ev-color-6);
  --ev-checklist-item-icon-color: var(--ev-color-3);
  --ev-checklist-item-text-color: var(--ev-color-1);
  --ev-checklist-item-label: ev-label-heading6;
  --ev-checklist-item-hover: var(--ev-hover-darken);
  --ev-checklist-item-icon-size: 24px;
  --ev-checklist-item-icon-alignment: center;
  --ev-checklist-item-border-style: none;
  --ev-checklist-item-border-color: var(--ev-color-7);
  --ev-checklist-item-border-width: 1px 1px 1px 1px;
  --ev-checklist-item-shadow: none;
  --ev-checklist-item-border-radius: 0px 0px 0px 0px;
  --ev-checklist-item-spacing-x: 12px;
  --ev-checklist-item-spacing-y: 12px;
  --ev-checklist-item-spacing-x-tablet: 12px;
  --ev-checklist-item-spacing-y-tablet: 12px;
  --ev-checklist-item-spacing-x-mobile: 12px;
  --ev-checklist-item-spacing-y-mobile: 12px;
  --ev-checklist-item-gap: 8px;
  --ev-checklist-items-gap-tablet: 8px;
  --ev-checklist-items-gap-mobile: 8px;
  --ev-checklist-items-gap: 8px;
  --ev-code-background-color: var(--ev-color-8);
  --ev-code-text-color: var(--ev-color-1);
  --ev-flipcard-item-front-background-color: var(--ev-color-11);
  --ev-flipcard-item-front-text-color: var(--ev-color-2);
  --ev-flipcard-item-back-background-color: var(--ev-color-11);
  --ev-flipcard-item-back-text-color: var(--ev-color-2);
  --ev-flipcard-item-border-style: none;
  --ev-flipcard-item-border-color: var(--ev-color-7);
  --ev-flipcard-item-border-width: 1px 1px 1px 1px;
  --ev-flipcard-item-border-radius: 6px 6px 6px 6px;
  --ev-flipcard-item-shadow: none;
  --ev-flipcard-item-content-spacing-x: 12px;
  --ev-flipcard-item-content-spacing-y: 12px;
  --ev-flipcard-item-content-spacing-x-tablet: 12px;
  --ev-flipcard-item-content-spacing-y-tablet: 12px;
  --ev-flipcard-item-content-spacing-x-mobile: 8px;
  --ev-flipcard-item-content-spacing-y-mobile: 8px;
  --ev-flipcard-item-text-alignment: middle;
  --ev-flipcard-item-flex-direction: column;
  --ev-flipcard-item-button-display: flex;
  --ev-hotgraphic-hotspot-background-color: var(--ev-color-2);
  --ev-hotgraphic-hotspot-icon-color: var(--ev-color-3);
  --ev-hotgraphic-hotspot-button-hover: var(--ev-hover-darken);
  --ev-hotgraphic-hotspot-border-style: none;
  --ev-hotgraphic-hotspot-border-color: var(--ev-color-2);
  --ev-hotgraphic-hotspot-border-width: 1px 1px 1px 1px;
  --ev-hotgraphic-hotspot-shadow: none;
  --ev-hotgraphic-hotspot-selected-background-color: var(--ev-color-3);
  --ev-hotgraphic-hotspot-selected-icon-color: var(--ev-color-2);
  --ev-hotgraphic-hotspot-selected-border-color: var(--ev-color-2);
  --ev-hotgraphic-content-popover-background-color: var(--ev-color-2);
  --ev-hotgraphic-content-popover-color: var(--ev-color-1);
  --ev-hotgraphic-content-popover-border-style: none;
  --ev-hotgraphic-content-popover-border-color: var(--ev-color-8);
  --ev-hotgraphic-content-popover-border-width: 1px 1px 1px 1px;
  --ev-hotgraphic-content-popover-border-radius: 6px 6px 6px 6px;
  --ev-hotgraphic-content-popover-shadow: 0px 4px 15px 2px #00000026;
  --ev-hotgraphic-content-popover-spacing-x: 24px;
  --ev-hotgraphic-content-popover-spacing-y: 24px;
  --ev-hotgraphic-content-popover-spacing-x-tablet: 24px;
  --ev-hotgraphic-content-popover-spacing-y-tablet: 24px;
  --ev-hotgraphic-content-popover-spacing-x-mobile: 12px;
  --ev-hotgraphic-content-popover-spacing-y-mobile: 12px;
  --ev-hotgraphic-hotspot-animation: none;
  --ev-mcq-item-option-background-color: var(--ev-color-2);
  --ev-mcq-item-option-color: var(--ev-color-1);
  --ev-mcq-item-option-label: ev-label-heading6;
  --ev-mcq-item-option-border-width: 1px 1px 1px 1px;
  --ev-mcq-item-option-border-style: solid;
  --ev-mcq-item-option-border-color: var(--ev-color-7);
  --ev-mcq-item-option-shadow: none;
  --ev-mcq-item-option-hover: var(--ev-hover-darken);
  --ev-mcq-item-option-border-radius: 6px 6px 6px 6px;
  --ev-mcq-item-option-spacing-x: 32px;
  --ev-mcq-item-option-spacing-y: 24px;
  --ev-mcq-item-option-spacing-x-tablet: 32px;
  --ev-mcq-item-option-spacing-y-tablet: 24px;
  --ev-mcq-item-option-spacing-x-mobile: 12px;
  --ev-mcq-item-option-spacing-y-mobile: 18px;
  --ev-mcq-item-option-gap: 8px;
  --ev-mcq-item-gap: 8px;
  --ev-mcq-item-gap-tablet: 8px;
  --ev-mcq-item-gap-mobile: 8px;
  --ev-mcq-item-disabled-option-background-color: var(--ev-color-7);
  --ev-mcq-item-disabled-option-color: var(--ev-color-1);
  --ev-mcq-item-disabled-option-border-color: var(--ev-color-7);
  --ev-mcq-attempts-text-color: var(--ev-color-6);
  --ev-media-controls-color: var(--ev-color-1);
  --ev-media-controls-background-color: var(--ev-color-2);
  --ev-media-big-play-background-color: var(--ev-color-2);
  --ev-media-big-play-icon-color: var(--ev-color-3);
  --ev-media-big-play-hover: var(--ev-hover-darken);
  --ev-media-progress-background-color: var(--ev-color-6);
  --ev-numberinput-input-background-color: var(--ev-color-2);
  --ev-numberinput-input-text-color: var(--ev-color-1);
  --ev-numberinput-input-text-style: ev-label-paragraph;
  --ev-numberinput-input-border-style: solid;
  --ev-numberinput-input-border-color: var(--ev-color-6);
  --ev-numberinput-input-border-width: 1px 1px 1px 1px;
  --ev-numberinput-input-border-radius: 6px 6px 6px 6px;
  --ev-numberinput-input-shadow: none;
  --ev-numberinput-input-spacing-x: 12px;
  --ev-numberinput-input-spacing-y: 12px;
  --ev-numberinput-input-max-width: 700px;
  --ev-numberinput-alignment: flex-start;
  --ev-process-background-color: var(--ev-color-2);
  --ev-process-text-color: var(--ev-color-1);
  --ev-process-progress-active: var(--ev-color-3);
  --ev-process-progress-inactive: var(--ev-color-7);
  --ev-process-item-border-style: none;
  --ev-process-item-border-color: var(--ev-color-7);
  --ev-process-item-border-width: 1px 1px 1px 1px;
  --ev-process-item-border-radius: 6px 6px 6px 6px;
  --ev-process-item-shadow: 0px 4px 15px 2px #00000026;
  --ev-process-item-content-spacing-x: 24px;
  --ev-process-item-content-spacing-y: 24px;
  --ev-process-item-content-spacing-x-tablet: 24px;
  --ev-process-item-content-spacing-y-tablet: 24px;
  --ev-process-item-content-spacing-x-mobile: 12px;
  --ev-process-item-content-spacing-y-mobile: 12px;
  --ev-process-item-gap: 16px;
  --ev-process-item-gap-tablet: 16px;
  --ev-process-item-gap-mobile: 16px;
  --ev-section-indicator-background-color: var(--ev-color-2);
  --ev-section-indicator-border-style: solid;
  --ev-section-indicator-border-color: var(--ev-color-2);
  --ev-section-indicator-border-width: 1px 1px 1px 1px;
  --ev-section-indicator-border-radius: 24px 24px 24px 24px;
  --ev-section-indicator-shadow: 0px 2px 8px 0px #00000026;
  --ev-section-indicator-spacing-x: 12px;
  --ev-section-indicator-spacing-y: 12px;
  --ev-section-indicator-spacing-x-tablet: 12px;
  --ev-section-indicator-spacing-y-tablet: 12px;
  --ev-section-indicator-gap: 12px;
  --ev-section-indicator-gap-tablet: 12px;
  --ev-section-indicator-dot-background-color: var(--ev-color-7);
  --ev-section-indicator-dot-border-style: none;
  --ev-section-indicator-dot-border-color: var(--ev-color-7);
  --ev-section-indicator-dot-border-width: 1px 1px 1px 1px;
  --ev-section-indicator-dot-active-background-color: var(--ev-color-3);
  --ev-section-indicator-dot-active-border-color: var(--ev-color-3);
  --ev-section-indicator-dot-active-border-width: 1px 1px 1px 1px;
  --ev-section-indicator-dot-active-border-style: none;
  --ev-sorting-item-background-color: var(--ev-color-2);
  --ev-sorting-item-text-color: var(--ev-color-1);
  --ev-sorting-item-label: ev-label-paragraph;
  --ev-sorting-item-drag-icon-display: block;
  --ev-sorting-item-drag-icon-color: var(--ev-color-1);
  --ev-sorting-item-border-style: solid;
  --ev-sorting-item-border-color: var(--ev-color-7);
  --ev-sorting-item-border-color-dragging: var(--ev-color-3);
  --ev-sorting-item-border-width: 1px 1px 1px 1px;
  --ev-sorting-item-border-radius: 6px 6px 6px 6px;
  --ev-sorting-item-shadow: none;
  --ev-sorting-item-spacing-x: 18px;
  --ev-sorting-item-spacing-y: 18px;
  --ev-sorting-item-spacing-x-tablet: 18px;
  --ev-sorting-item-spacing-y-tablet: 18px;
  --ev-sorting-item-spacing-x-mobile: 12px;
  --ev-sorting-item-spacing-y-mobile: 18px;
  --ev-sorting-item-gap: 4px;
  --ev-sorting-item-gap-tablet: 4px;
  --ev-sorting-item-gap-mobile: 4px;
  --ev-sorting-number-background-color: var(--ev-color-2);
  --ev-sorting-number-text-color: var(--ev-color-1);
  --ev-sorting-number-border-style: solid;
  --ev-sorting-number-border-color: var(--ev-color-7);
  --ev-sorting-number-border-width: 1px 1px 1px 1px;
  --ev-sorting-attempts-text-color: var(--ev-color-6);
  --ev-tabs-item-button-background-color: var(--ev-color-2);
  --ev-tabs-item-button-color: var(--ev-color-3);
  --ev-tabs-item-button-label: ev-label-heading6;
  --ev-tabs-item-button-border-width: 1px 1px 1px 1px;
  --ev-tabs-item-button-border-style: none;
  --ev-tabs-item-button-border-color: var(--ev-color-7);
  --ev-tabs-item-button-shadow: none;
  --ev-tabs-item-button-hover: var(--ev-hover-darken);
  --ev-tabs-item-button-border-radius: 6px 6px 0px 0px;
  --ev-tabs-item-button-spacing-x: 24px;
  --ev-tabs-item-button-spacing-y: 18px;
  --ev-tabs-item-button-spacing-x-tablet: 24px;
  --ev-tabs-item-button-spacing-y-tablet: 18px;
  --ev-tabs-item-button-spacing-x-mobile: 12px;
  --ev-tabs-item-button-spacing-y-mobile: 18px;
  --ev-tabs-item-gap: 0px;
  --ev-tabs-item-gap-tablet: 0px;
  --ev-tabs-item-gap-mobile: 0px;
  --ev-tabs-item-active-button-background-color: var(--ev-color-3);
  --ev-tabs-item-active-button-color: var(--ev-color-2);
  --ev-tabs-item-active-button-border-color: var(--ev-color-7);
  --ev-tabs-item-content-border-width: 1px 1px 1px 1px;
  --ev-tabs-item-content-border-style: solid;
  --ev-tabs-item-content-border-color: var(--ev-color-7);
  --ev-tabs-item-content-border-radius: 0px 0px 6px 6px;
  --ev-tabs-item-content-spacing-x: 24px;
  --ev-tabs-item-content-spacing-y: 24px;
  --ev-tabs-item-content-spacing-x-tablet: 24px;
  --ev-tabs-item-content-spacing-y-tablet: 24px;
  --ev-tabs-item-content-spacing-x-mobile: 12px;
  --ev-tabs-item-content-spacing-y-mobile: 24px;
  --ev-textinput-input-background-color: var(--ev-color-2);
  --ev-textinput-input-text-color: var(--ev-color-1);
  --ev-textinput-input-placeholder-color: var(--ev-color-6);
  --ev-textinput-input-text-style: ev-label-paragraph;
  --ev-textinput-input-border-style: solid;
  --ev-textinput-input-border-color: var(--ev-color-6);
  --ev-textinput-input-border-width: 1px 1px 1px 1px;
  --ev-textinput-input-border-radius: 6px 6px 6px 6px;
  --ev-textinput-input-shadow: none;
  --ev-textinput-input-spacing-x: 12px;
  --ev-textinput-input-spacing-y: 12px;
  --ev-textinput-input-max-width: 700px;
  --ev-textinput-alignment: flex-start;
  --ev-tooltip-background-color: var(--ev-color-1);
  --ev-tooltip-text-color: var(--ev-color-2);
  --ev-tooltip-label: ev-label-caption;
  --ev-tooltip-border-width: 1px 1px 1px 1px;
  --ev-tooltip-border-style: none;
  --ev-tooltip-border-color: var(--ev-color-7);
  --ev-tooltip-border-radius: 4px 4px 4px 4px;
  --ev-tooltip-shadow: none;
  --ev-tooltip-spacing-y: 2px;
  --ev-tooltip-spacing-x: 4px;
  --ev-color-1: #191819;
  --ev-color-2: #FFFFFF;
  --ev-color-3: #191819;
  --ev-color-4: #26865E;
  --ev-color-5: #B01038;
  --ev-color-6: #6B7280;
  --ev-color-7: #E5E7EB;
  --ev-color-8: #F3F4F6;
  --ev-color-9: #FFFFFF80;
  --ev-color-10: #F3EFFC;
  --ev-color-11: #201F20;
  --ev-color-12: #AA9EFA;
  --ev-color-13: #FFFFFF;
  --ev-color-14: #FFFFFF;
  --ev-color-15: #FFFFFF;
}

.ev-default-color {
  --ev-heading-color: var(--ev-color-2);
  --ev-paragraph-color: var(--ev-color-2);
  --ev-section-background-color: var(--ev-color-3);
}

.ev-default-inverted {
  --ev-heading-color: var(--ev-color-2);
  --ev-paragraph-color: var(--ev-color-2);
  --ev-section-background-color: var(--ev-color-1);
}